<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://richinni.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>richinni.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>richinni</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$richinni</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jblw8sbmei.database.windows.net,1433;Initial Catalog=richinnDB;User ID=todoadmin@jblw8sbmei;Password=1qaz@WSX" Name="Data Source=tcp:jblw8sbmei.database.windows.net,1433;Initial Catalog=richinnDB;User Id=todoadmin@jblw8sbmei;Password=1qaz@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="richinni.Models.ApplicationDbContext, richinni" MigrationConfiguration="richinni.Migrations.Configuration, richinni" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jblw8sbmei.database.windows.net,1433;Initial Catalog=richinnDB;User Id=todoadmin@jblw8sbmei;Password=1qaz@WSX</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>